.container {
  hr {
    margin: 0 30px;
  }
  .products-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
  }
}

%btn {
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  margin: 0 5px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 30px 0 30px;
  #add-btn {
    @extend %btn;
  }
  #delete-product-btn {
    @extend %btn;
  }
}
